# Auto detect text files and perform LF normalization
* text=auto

*.java		diff text ident
*.scala		diff text ident
*.clj		diff text ident
*.c		diff text ident
*.h		diff text ident
*.html		diff text ident
.project	diff text ident
.classpath	diff text ident
Makefile	diff text ident
*.mk		diff text ident
